.add-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;

    &__input {
        input {
            padding: 4px 0;
            text-indent: 10px;
            color: red;
        }
    }

    &__btn {
        input {
            background-color: #fff;
            border: none;
            color: green;
            padding: 4px 10px;
            border: 1px solid green;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
