.item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    position: relative;

    &__title {
        color: red;
    }

    &__line {
        height: 1px;
        top: 10px;
        position: absolute;
        width: 100%;
        background-color: #000;
        border: 1px solid #000;
        border-radius: 1px;
    }
}

.btn-group {
    display: flex;
}

.green {
    color: green !important;
}

.btn {
    background-color: #fff;
    border: none;
    color: red;

    &:hover {
        cursor: pointer;
    }

    & + & {
        margin-left: 3px;
    }
}
