* {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    width: 100%;
}

.form {
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}
